# Environment
.env
.env.local

# Docker
*.log

# Backups
backups/
*.sql
*.sql.gz
*.tar
*.tar.gz

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Generated
templates/generated/
apps.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Docker volumes (local data)
sites/
db-data/
redis-queue-data/
redis-cache-data/
logs/
apps/


## LLM
.claude/
CLAUDE.md

# Ignore Custom json 
/presets/custom.json